<h2>Edición de producto</h2>

<form action="/productos/update/{{producto.id}}" method="POST">
    <div class="mb-3">
        <label class="form-label" for="nombre">Nombre</label>
        <input type="text" id="nombre" name="nombre" class="form-control" value="{{producto.nombre}}">
    </div>
    <div class="mb-3">
        <label class="form-label" for="nombre">Precio</label>
        <input type="text" id="nombre" name="precio" class="form-control" value="{{producto.precio}}">
    </div>
    <div class="mb-3">
        <label class="form-label" for="nombre">Departamento</label>
        <input type="text" id="nombre" name="departamento" class="form-control" value="{{producto.departamento}}">
    </div>
    <input type="hidden" id="nombre" name="productoId" class="form-control" value="{{producto.id}}">
    <button class="btn btn-primary">Enviar</button>
</form>